# Disable directory browsing
Options -Indexes

# ----------------------------------------------------------------------
# Rewrite engine
# ----------------------------------------------------------------------

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>
    